pandas==2.3.1
numpy==2.3.2
scikit-learn==1.7.1
scipy==1.16.1
streamlit==1.54.0
pillow==11.3.0
langchain==1.2.10
langchain-core==1.2.14
langchain-groq==1.1.2
sentence-transformers==5.2.3
pinecone-client==6.0.0
groq==0.37.1
torch==2.2.0
python-dotenv==1.2.1
pydantic==2.11.7
pydantic-settings==2.13.1
RapidFuzz==3.14.3
requests==2.32.4
tqdm==4.67.1
PyYAML==6.0.2
